body {
    background-color: grey;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: solid 5px;
    border-radius: 10px;
    background-color: wheat;
}

.search-bar {
    margin-top: 20px;
}

.result-table {
    margin-top: 20px;
}

.login {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border: solid 5px;
    border-radius: 10px;
    background-color: wheat;
}

.form {
    text-align: center;
    margin-left: 10px;
}

.adminForm {
    text-align: center;
}

.create {
    text-align: center;
    margin-right:10px;
}

header {
    display: flex;
    flex-direction: row;
    border: solid 5px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    align-items: center;
    margin-top: 10px;
}

main {

}

footer {
    border-top: solid 5px;
    margin-top: 10px;
    width: 100%;
}

h1 {

}

h1.head {
    font-family:'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 250%;
}

h2 {

}

h3 {

}

table {
    padding: 5px;
    border: solid 5px;
    border-radius: 5px;
    background-color: white;
}

thead {
    background-color: whitesmoke;
}

tbody {
    background-color: antiquewhite;
}

.displayName{
    background-color: white;
    border: solid 2px;
    
}
