body {
    background-color: grey;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: solid 5px;
    border-radius: 10px;
    background-color: wheat;
}

.search-bar {
    margin-top: 20px;
}

.result-table {
    margin-top: 20px;
}

.login {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border: solid 5px;
    border-radius: 10px;
    background-color: wheat;
}

.form {
    text-align: center;
    margin-left: 10px;
}

.adminForm {
    text-align: center;
}

.create {
    text-align: center;
    margin-right:10px;
}

header {
    display: flex;
    flex-direction: row;
    border: solid 5px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    align-items: center;
    margin-top: 10px;
}

footer {
    border-top: solid 5px;
    margin-top: 10px;
    width: 100%;
}

h1.head {
    font-family:'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 250%;
}

table {
    padding: 5px;
    border: solid 5px;
    border-radius: 5px;
    background-color: white;
}

thead {
    background-color: whitesmoke;
}

tbody {
    background-color: antiquewhite;
}

.displayName{
    text-align: center;
    padding: 10px;
    background-color: white;
    border: solid 2px;
    
}

.getWishlist{
    padding-top: 20px;
}

.form-popup {
    background-color: wheat;
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 5px solid;
    border-radius: 5px;
    z-index: 9;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: wheat;
  }
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: white;
    outline: none;
  }

  .form-container input[type=email], .form-container input[type=email] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #ddd;
  }

  .form-container input[type=email]:focus, .form-container input[type=email]:focus {
    background-color: white;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: red;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .dropbtn {
    background-color: white;
    border: 5px solid;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    top: 45px;
    right: 45px;
  }
  
  .dropdown {
    position: relative;
    display: inline;
  }
  
  .dropdown-content {
    border: 5px solid;
    border-radius: 10px;
    display: none;
    position: fixed;
    top: 105px;
    right: 45px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
       display: flex;
       flex-direction: column;
    }

  .dropdown:hover .dropbtn {
    background-color: wheat;
  }